
<form action="{% url 'user-posts' user.username %}" enctype='multipart/form-data' method="POST">
    {% csrf_token %} 
    
    <div class="modal fade" id="DeactivateModal" tabindex="-1" role="dialog" aria-labelledby="DeactivateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-secondary" id="DeactivateModalLabel">Deactivate Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Are you sure you want to deactivate this post:</h5> 
                    <br>
                    <h6> {{ post }}</h6> 
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Yes, Deactivate</button>  
                    <input type='hidden' value='{{ post.id }}' name='pk'>
                </div>
            </div>
        </div>
    </div>
</form>




