#wrapper{
    width:100%;
    height:100vh;
    display:flex;
  }
  #left-block{
    width:50rem;
    height:100vh;
    overflow-y:scroll;
    word-wrap: break-word;
  }
  #right-block{
    width:43rem;
    height:90vh;
    overflow-y:scroll;
  }
body {
    overflow: hidden;
}

